<h1>Find your github repositries here</h1>

<form method="POST" action="/find">
    <h4>Enter Github Id here</h4>
    <p><input type="text" name="t1"></p>
    <p><button type="submit">Find</button></p>

</form>